{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">First_name: {{ grade.First_name }}</li>
        <li class="list-group-item">Last_name: {{ grade.Last_name }}</li>
        <li class="list-group-item">SSN: {{ grade.SSN }}</li>
        <li class="list-group-item">Test1: {{ grade.Test1 }}</li>
        <li class="list-group-item">Test2: {{ grade.Test2 }}</li>
		<li class="list-group-item">Test3: {{ grade.Test3 }}</li>
		<li class="list-group-item">Test4: {{ grade.Test4 }}</li>
		<li class="list-group-item">Final: {{ grade.Final }}</li>
		<li class="list-group-item">Grade: {{ grade.Grade }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{grade.SSN}}" class="card-link btn btn-primary">edit</a>
        <form action="/delete/{{grade.SSN}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>
    </div>
</div>



{% endblock %}